* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 90vh;
}

.swiper {
  width: 280px;
  height: 360px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.rock {
  background-color: rgb(184, 98, 98);
}

.ghost {
  background-color: rgb(168, 106, 250);
}

.electric {
  background-color: rgb(247, 247, 86);
}

.bug {
  background-color: #61a32a;
}

.poison {
  background-color: #7e4794;
}

.normal {
  background-color: #f4f4f4;
}

.fairy {
  background-color: rgba(231, 82, 182, 0.863);
}

.fire {
  background-color: #f16717;
}

.grass {
  background-color: #32e22c;
}

.water {
  background-color: #5caae2;
}

.ground {
  background-color: #5a2a0e;
}

.fighting {
  background-color: #fd0000;
}

.psychic {
  background-color: #777517;
}

.ice {
  background-color: #64f0e9;
}

.dragon {
  background-color: #81585c;
}

.onePokemon {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 18px;
}

.gen_text {
  font-size: 45px;
  text-decoration: none;
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}